<span style='color: #000' title='Frames'>   196</span><span style='color: #009' title='Memory'>  14080.00 KB</span><span style='color: #900' title='Time'>    417.02 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />