.page-prop {
  font-family: 'Roboto', sans-serif;
}
.page-prop h4 {
  font-weight: 400;
  font-size: 20px;
  color: #575a5c;
}
.page-prop h3 {
  font-size: 16px;
}
.page-prop .inline > div,
.page-prop .inline > span {
  padding: 0;
}
.page-prop .inline > span {
  text-align: center;
  margin-top: 30px;
}
.page-prop article .cover {
  position: relative;
  width: 100px;
}
.page-prop article img {
  width: 100px;
}
.page-prop article img.topicon {
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.page-prop article .img-profile img {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  transform: translate(-30%, -50%);
  position: absolute;
}
.page-prop article .icons img {
  width: 32px;
  height: 34px;
}
.page-prop .property-detail {
  font-family: Roboto;
  font-weight: 500;
}
.page-prop .image-select-btn {
  vertical-align: top;
}
.page-prop .panel-sidebar span.price-to {
  line-height: 34px;
  font-weight: 500;
}
.page-prop .panel-gallery .panel-body {
  padding: 0;
  position: relative;
}
.page-prop .panel-gallery .stage {
  background-position: center center;
  background-size: cover;
  width: 358px;
  height: 269px;
}
.page-prop .panel-gallery .canvas {
  overflow: hidden;
  width: 358px;
  height: 60px;
  margin: 20px 0 10px;
}
.page-prop .panel-gallery .cycle-navi {
  text-align: center;
  margin-bottom: 20px;
}
.page-prop .panel-gallery ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.page-prop .panel-gallery ul li {
  float: left;
  width: 80px;
  height: 60px;
  margin: 0 6px;
}
.page-prop .panel-gallery ul li a {
  display: block;
  width: 80px;
  height: 60px;
  background-size: 80px 60px;
  background-position: center center;
  background-size: cover;
}
.page-prop .panel-slots .panel-button h3 {
  margin: 6px 10px 0 0;
}
.page-prop .panel-slots .panel-button .btn-xs {
  min-width: 50px;
}
.page-prop .slots div.slot {
  display: block;
  float: left;
  width: 150px;
  height: 200px;
  padding: 0;
  margin: 8px 6px;
}
.page-prop .slots div.slot.slot-empty {
  border: 0;
  text-align: center;
}
.page-prop .slots div.slot a.thumbnail {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #edeeed;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  line-height: 150px;
}
.page-prop .slots div.slot a.action {
  display: block;
  margin: 10px 0 0 0;
  line-height: 20px;
  text-align: center;
}
.page-prop .slots div.slot .btn-sm {
  min-width: 80px;
}
.page-prop .slots div.slot .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}
.page-prop.page-nego .panel-body article,
.page-prop.page-trans .panel-body article {
  padding: 50px 15px 20px;
}
.page-prop #img-thumb-placeholder .img-thumb {
  margin-bottom: 20px;
  height: 180px;
  width: 140px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.page-prop #img-thumb-placeholder .img-thumb > img {
  height: 140px;
  width: 100%;
  margin-bottom: 5px;
}
