.page-user {
  font-family: 'Roboto', sans-serif;
}
.page-user .page-header {
  text-align: center;
}
.page-user h3 {
  font-weight: 400;
  font-size: 16px;
}
.page-user h4 {
  font-size: 20px;
  font-weight: 400;
}
.page-user h2 {
  font-size: 16px;
  font-weight: 500;
}
.page-user article img {
  width: 100px;
}
.page-user article .icons img {
  width: 32px;
  height: 34px;
}
