html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "helvetica";
    font-size: 1em;
    background: #ffffff;
    text-align: justify;    
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
 
.colorlogo{
    max-width: 200px;
    margin-top:  50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.iconsize{
    margin-right: 10px;
    margin-top: 12px;
}
 
.read{
    font-size:14px;
    text-align: left;
}
 
.message{
     font-size:12px;
}
 
.forgot-txt{
    color: white;
}
 
.send{
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
 
}
 
 
/*this section for form*/
 
.form1{
    margin: auto;
    margin-top: 100px;
    width: 100%;
    border: 0px solid green;
    align-content: center;
}
 
 
.form .register-form {
  display: none;
}
 
.form {
  position: relative;
  z-index: 1;
  background: orange;
  width: 440px;
  max-width: 90%;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
 
 
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 50px;
}
 
.form .otpbox{
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0px 15px 15px 10px;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-radius: 0px;
}
 
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #f96412;
  width: 100%;
  border: 0;
  padding: 15px;
/*  color: #FFFFFF;*/
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #893201;
  margin-right: 10px;
}
 
.small-title{
 color: white;
 margin-bottom: 30px;
}
 
/*this section for form*/

.navbar-nav {
    letter-spacing: 1px;
}

.fa {
    font-size: 16pt;
}

a {
    color: white;
    text-decoration: none !important;
}

a.hover {
    color: #000000 !important;
}

.center_align {
    margin:0 auto;
}

.margin_top {
    margin-top: 50px;
}

.list_group {
    display: inline-block;
}

.mycontent-left {
    border-right: 0.2em solid #FFFFFF;
    padding-right: 3px;
}

.mycontent-right {
    margin-top: 40px;
    color: white;
}

.leftbar {
    border-right: 0.1em solid #FFFFFF;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.alert{
    position: relative;
    top: 56px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.maintitle{
    font-weight: bold;
    color: #b3b5b8;
}

.maintitlewhite{
    font-weight: bold;
    color: white;
}

/*Landing Banner Part
*/


/*#banner {
    background:url("../img/bg.png");
    background-size: cover; 
    width: 100%;
}*/

#banner {
    /* The image used */
    background-image: url("/assets/images/bg.png");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.top_banner {
    margin-top: 30px;
}

.banner_header{
    margin-top: 50px;
}

.login_form {
    margin-left: 0px;
    margin-top: 3em;
    margin-bottom: 3em;
    background: #DFB611;
    opacity: 0.8;
    padding: 30px;
    color: white;
}

.form_button {
    width: 50%;
    opacity: ;
    border-radius: 50px;
}

.form_icon {
    margin-left: 10px;
}

/*About Part
*/
.aboutus {
    padding-top: 100px;
    text-align: center;
    background: #eee;
    height: 50%;
}

/*Features Part
*/
.features {
    padding-top: 2em;
    text-align: center;
}

.feature_txt {
    font-size: 9pt;
}

.icn_textbox {
    margin-top: 5px;
    padding: 0;
}


/*Download Part
*/

.download {
    padding-top: 2em;
    text-align: center;
}

/*Contact Part
*/

.contact {
    padding-top: 100px;
    background: #F79117;
    color: white;
}

.contact_form {
    margin-top: 30px;
}

.form-control {
    border-radius: 25px;
}

/*Footer Part
*/

.footer{
    padding-top: 6em;
    background: #F79117;
    color: white;
    font-size: 0.8em;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 0.1em;
}

.footer li {
    display: inline-block;
/*    padding-left: 0.2em;
*/    padding-right: 0.2em;
}
